body
{
  color: white;
  background: #c0d3ff;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed red;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:  65px;;
}
.heading{
  font-size: 20px;
  border-radius: 10px;
  letter-spacing: 10px;
}
label{
  font-size: 15px;
  color:mediumblue;
  border-radius: 30px;
  padding: 10px;
  background-color: lightcoral;
  border-color: purple;
}
b{
  font-size: 22px;
  color: black;
}